* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
  html, body {
  overflow-x: hidden;
}
  .experience {
    padding: 2rem;
    font-family: Arial, sans-serif;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto;     */
     /* center the content */

  }
  
  .experience-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    position: relative;
    color: var(--nav-text);
  }
   .marker {
  width: 100%;              /* Take full width */
  display: flex;            /* Create flexbox for the marker */
  justify-content: center; /* Push image to the right */
  margin-top: 0.5rem;
  margin-bottom: 2rem;       /* Optional spacing */
}
 
  
  .experience-grid {
    display: grid;  
    max-width: 500px;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;

  }
  
  .experience-card {
    background: var(--bg1);
    border-radius: 12px;
    box-shadow:var(--card-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .experience-card-top {
    background-color: var(--card-top);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .experience-icon-img {
    width: 40px;
    height: 40px;
  }
  
  .experience-company {
    
    font-size: 0.90rem;
    margin-top: 0.25rem;
  }
  .experience-company , .experience-company span{
color: var(--skill-grid);
  }
  
  .experience-card-bottom {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    
  }
  
  .experience-card-bottom p {
    margin-top: 0.5rem;
    font-size: 16px;
    line-height: 1.5;
    color: var(--icons1);
  }

  
  
 @media (max-width: 767px) {
  .experience {
    padding: 1rem;
  }
  .experience-grid {
    display: flex;
    flex-direction: column; /* Ensure vertical stacking */
    gap: 1rem;
  }
  .experience-card {
    width: 100%; /* Make sure cards take full width */
    border-radius: 8px;
  }
}
