* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
   html, body {
  overflow-x: hidden;
}
  .footer {
    text-align: center;
    padding: 4rem 1rem;
    background-color: #f5f7fa;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  .footer h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
 .na {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  color: #111;
}

.na::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -5px;
  background-color: #edd25c;
  transition: 0.3s;
}

.na:hover::after {
  width: 100%;
}

  
  .footer p {
    margin: 01.5rem 0;
    font-size: 1rem;
  }
  
  .social-icons {
    margin: 1.2rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .social-icons a {
    color: #333;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #636262;
  }
  
  .footer-note,
  .footer-design {
    font-size: 0.9rem;
    color: #666;
  }
  
 
  @media (max-width: 767px) {
    
    .footer h2 {
      font-size: 1.4rem;
    }
  
    .social-icons a {
      font-size: 1.2rem;
    }
  
    .footer p {
      font-size: 0.95rem;
    }
  }
  